
.vs/gsespinto.github.io/FileContentIndex/23a6f108-cddd-48f3-b445-5905e0053d01.vsidx
.vs/gsespinto.github.io/FileContentIndex/79ab5c06-9ece-419e-881a-a221cb8249de.vsidx
.vs/gsespinto.github.io/FileContentIndex/a53e5cc7-1506-4696-9545-20abfc2ddba2.vsidx
.vs/gsespinto.github.io/FileContentIndex/e8fd13bc-d17e-4ce5-8956-c8f9149370d6.vsidx
.vs/gsespinto.github.io/v17/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/gsespinto.github.io/FileContentIndex/79ab5c06-9ece-419e-881a-a221cb8249de.vsidx
.vs/gsespinto.github.io/FileContentIndex/a53e5cc7-1506-4696-9545-20abfc2ddba2.vsidx
.vs/gsespinto.github.io/v17/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
