body{
  background-color: rgb(240, 240, 240);
  margin: 0%;
  position: static;
}

.header
{
  background-color: #fff;
  width: 100%;
  height: 50px;
  position: fixed;
}

.footnotes
{
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

#logobox
{
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  margin: 0;
  padding: 0 20;
  text-align: center;
  vertical-align: middle;
}

.socials
{
  width: 25px;
  height: 25px;
  position:relative;
  align-self: center;
  float:right;
  top:25%;
  padding: 0 2;
}

.homebox
{
  width: auto;
  height: 650px;
  margin: 0 auto;
  text-align: center;
  overflow-x:scroll;
  overflow-y: hidden; 
  height: fit-content;
  padding: 50 0;
}

.introcontent
{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

#ic
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 50px;
  align-content: center;
}

#introimg
{
  vertical-align: top;
  margin-right: 0px;
  width: 460px;
  height: 400px;
  box-shadow: 10px 10px 5px rgb(104, 104, 104);
}

#introtextbox
{
  margin: -30 15 0 0;
  display: inline-block;
  vertical-align: top;
}

.title
{  
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.bodytext
{
  text-align: justify;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;;
}

.previewimg
{
  height: 650px;
  padding: 0 2;
}

.filesdiv
{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: fit-content;
  text-align: center;
}

.filesbt
{
  background-color: black;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  margin: 20 10;
  padding: 0 20;
  text-align: center;
  vertical-align: middle;
}

.stylized-input{
  text-align: left;
  margin: 10 auto;
  padding: 12px 20px;
  display: block;
  text-align: justify;
  width: 500px;
  min-height: 50px;
  height: fit-content;
  font-family: 'Roboto', sans-serif;;
  font-size: 12px;
}