body{
  background-color: rgb(240, 240, 240);
  margin: 0%;
  position: static;
  font-family: 'Roboto Slab', serif;
}

.header
{
  background-color: #fff;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 20;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footnotes
{
  display: flex;
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color:black;
  color: rgb(240, 240, 240);
}

.logobox
{
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  margin: 0px;
  padding: 0px 20px;
  text-align: center;
  vertical-align: middle;
}

.socials
{
  width: 25px;
  height: 25px;
  position:relative;
  align-self: center;
  float:right;
  top:25%;
  padding: 0 2;
}

.homebox
{
  width: auto;
  height: fit-content;
  max-height: -moz-max-content;
  margin: 0 auto;
  text-align: center;
  overflow-x:auto;
  overflow-y: hidden;
  padding: 50px 0px;
}

@-moz-document url-prefix() {
  .homebox {
    height: 650px;
  }
}

.title
{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.bodytext
{
  text-align: justify;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;;
}

.projecttext
{
  width: 900px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.introtext{
  text-align: justify;
  font-size: 19px;
  padding: 0px 15px 0px 0px;
  font-family: 'Roboto', sans-serif;;
}

.projectmedia
{
  width: auto;
  margin: 0 auto;
  text-align: center;
  overflow-x:auto;
  overflow-y: hidden;
  height: fit-content;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectimage{
  width: 900px;
  height: auto;
  padding-top: 50px;
}

.projectvideo{
  width: 900px;
  height: 506.25px;
}

.introcontent
{
  width: 950px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

#ic
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 50px;
  align-content: center;
}

#introimg
{
  vertical-align: top;
  margin-right: 0px;
  width: 400px;
  height: 350px;
  box-shadow: 10px 10px 5px rgb(104, 104, 104);
  border-radius: 10px;
}

#introtextbox
{
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}

.previews-wrapper {
  white-space:nowrap;
  display: flex;
  gap: 50px;
  padding: 100px 50px 50px;
}

.mobile-wrapper {
  flex-wrap: wrap;
  justify-content: center;
}

.desktop-wrapper {
  overflow-y: hidden;
  overflow-x: auto;
  justify-content: space-between;
}

.card{
  display: inline-block;
  position: relative;
  width: 175px;
  height: 525px;
  background-color: #fff;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: opacity 0.5s;
}

.overlay:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.preview-img
{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.filesdiv
{
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
}

.filesbt
{
  background-color: black;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  margin: 20px 10px;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
  cursor:pointer;
}

.stylized-input{
  text-align: left;
  margin: 10px auto;
  padding: 12px 20px;
  display: block;
  text-align: justify;
  width: 500px;
  min-height: 50px;
  height: fit-content;
  font-family: 'Roboto', sans-serif;;
  font-size: 12px;
}

#curriculum
{
  margin: 0 12.5%;
}

@media screen and (min-width: 1366px) {
  .projectimage{ width:1000px; }
  .projectvideo{ width: 1000px; height: 562.5px; }
  .introcontent{ width: 57.5%; }
  .projecttext { width: 1000px; }
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding:  25px;
  justify-content: center;
}
